@model MyBakeryFinal.ViewModels.Bakers.AddVM
@{
}

<h2> Add Baker</h2>

 <form action="/Bakers/Add" method="post">
    <div>
        <div class="grid">
            <div class="row mb-2">
                <div class="col-1">
                    @Html.LabelFor(m => m.FirstName)
                </div>
                <div class="col-2">
                    @Html.TextBoxFor(m => m.FirstName)
                </div>
                <div class="col-2">
                    @Html.ValidationMessageFor(m => m.FirstName)
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-1">
                    @Html.LabelFor(m => m.LastName)
                </div>
                <div class="col-2">
                    @Html.TextBoxFor(m => m.LastName)
                </div>
                <div class="col-2">
                    @Html.ValidationMessageFor(m => m.LastName)
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-3">
                    @Html.ValidationMessage("summaryError")
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-1"></div>
                <div class="col-2">
                    <input type="submit" class="right" value="Save" />
                    <a href="/Bakers/Index" class="right">Back</a>
                </div>
            </div>
        </div>
    </div>
</form> 